<html lang="en">

<head>
    <!-- <meta charset="UTF-8" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý lớp học</title>
    <!-- <link rel="stylesheet" href="./style/style.css" /> -->
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">
                <img style="width: 97px;" src="../../assets/images/logo.png" alt="logo" title="logo">
            </a>
            <div class="logo__title">
                <h3>trang đăng kí lớp học cho sinh viên</h3>
                <div>trường đại học SPKT HƯNG YÊN</div>
            </div>
        </div>
        <a (click)="logout()" style="margin: 20px;" href="#"><i style="font-size: 30px;" class="fa fa-sign-out"></i> Logout </a>
    </nav>
    
    <div class="main-content">
       
        <aside>
            <ul>
                <li>Mã sinh viên: <b>{{pro5.idStudent}}</b></li>
                <li>Họ tên SV: <b>{{pro5.name}}</b></li>
                <li>Lớp: <b>{{pro5.idClass}}</b></li>
                <li>Chương trình: <b>{{pro5.idDepartment}}</b></li>
                <li>Số tín chỉ tối đa: <b>14</b></li>
                <!-- <li><a class="link" href="#">Thông tin danh sách lớp mở</a></li> -->
            </ul>
        </aside>
        <main>          
            <h4>Thông tin danh sách lớp mở</h4>
            <div class="input">
                <span>Nhập từ khoá:</span>  
                <!-- (ngModelChange)="onFilterChange()"                 -->
                <input [(ngModel)]="filterString"  />
                <div class="table-wrapper-scroll-y my-custom-scrollbar">                   
                    <table border="1" class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>Mã lớp</th>
                          <th>
                              Tên HP
                              <!-- <button (click)="Sapxep()">sort</button> -->
                          </th>
                          <th>
                            <i style="cursor: pointer;" (click)="SortUpTC()" class="fa fa-arrow-up"></i>
                              Số TC
                            <i style="cursor: pointer;" (click)="SortDownTC()" class="fa fa-arrow-down"></i>
                            </th>
                          <th>Giảng viên</th>
                          <th>Thứ</th>
                          <th>Thời gian</th>
                          <th>Tuần</th>
                          <th>Phòng</th>
                          <th>
                            <i style="cursor: pointer;" (click)="SortUpSL()" class="fa fa-arrow-up"></i>
                              SLĐK
                              <i style="cursor: pointer;" (click)="SortDownSL()" class="fa fa-arrow-down"></i>
                            </th>
                          <th>Đăng kí</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let r of filtered | search:filterString;let i=index">                          
                            <td>{{ r.id_ClassRegister}}</td>
                            <td>{{r.name_subject }}</td>
                            <td>{{ r.number_of_credits}}</td>
                            <td>{{r.name }}</td>
                            <td>{{ r.thu}}</td>
                            <td>{{ r.time}}</td>
                            <td>{{r.week }}</td>
                            <td>{{r.room }}</td>
                            <td>{{r.slsv}}</td>
                            
                            <th style="cursor: pointer;"><a  (click)="confirmRegis(r.id_ClassRegister)" ><i style="color: green;" class="fa fa-edit"></i></a></th>
                        </tr>                       
                      </tbody>
                    </table>                               
                </div>
            </div>
<hr />
            <!-- [routerLink]="['/hero', r.mahp_invoice]" -->
            <div style="display: inline; ">
                <h4>Danh sách lớp đã đăng kí</h4>          
                <button (click)="deleteAllClass()"  style="float: right; position: static;" class="btn btn-success">Xoá các lớp chọn</button>
            </div>
            
            <table border="1">
                <!-- <caption>Các lớp đăng kí</caption> -->
                
                <tr>
                    <td><b>Mã lớp mở</b></td>
                    <td>
                        <b>Tên HP</b>
                        
                    </td>
                    <td><b>Số TC</b></td>
                    <td><b>Giảng viên</b></td>
                    <td><b>SĐT</b></td>
                    <td><b>Thứ</b></td>
                    <td><b>Thời gian</b></td>
                    <td><b>Tuần</b></td>
                    <td><b>Phòng</b></td>
                    <td><b>Xoá lớp</b></td>
                </tr>
                
                <tr *ngFor="let item of _listClassRegistionedOfStudent">
                    <td>{{item.id_ClassRegister}}</td>  
                    <td>{{item.nameSubject }}</td>    
                    <td>{{item.number_of_credits}}</td>
                    <td>{{item.name }}</td>
                    <td>{{item.phone }}</td>               
                    <td>{{item.thu }}</td>
                    <td>{{item.time }}</td>
                    <td>{{item.week }}</td>
                    <td>{{item.room }}</td>
                    <td style="cursor: pointer;"><a (click)="deleteSingleSubject(item.id_ClassRegister)"><i style="color: red;" class="fa fa-times"></i></a></td>             
                </tr>
                
                
                <tr>
                    <td colspan="11">Tổng tín chỉ đăng kí : {{sumTC}}</td>
                    
                </tr>
                <tr>
                    <td colspan="11">
                        <i style="color: red;">Lưu ý: Thời gian và phòng học có thể sẽ bị thay đổi theo phòng kế hoạch giảng dạy phân công</i>
                    </td>
                </tr>
            </table>
            
        </main>
    </div>
    <footer>
        TRƯỜNG ĐẠI HỌC SƯ PHẠM KĨ THUẬT HƯNG YÊN<br />
       cs2: Nhân Hoà, Mỹ Hào, Hưng Yên
       <!-- <button (click)="getProfile()">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</button> -->
    </footer>
</body>
</html>