<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinh Viên Đăng kí</title>
</head>
<body>
    <div>
        <div>
            <img src="" alt="">
            <span>Trang Đăng Kí Lớp Học<br>Trường Đại Học SPKT Hưng Yên</span>
            <button>Đăng xuất</button>
        </div>
        <div>
            <div>
                
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>
