<html lang="en">

<head>
    <!-- <meta charset="UTF-8" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý lớp học</title>
    <!-- <link rel="stylesheet" href="./style/style.css" /> -->
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">
                <img style="width: 97px;" src="../../assets/images/logo.png" alt="logo" title="logo">
            </a>
            <div class="logo__title">
                <h3>trang đăng kí giảng dạy cho giảng viên</h3>
                <div>trường đại học SPKT HƯNG YÊN</div>
            </div>
        </div>
        <a style="margin: 20px;" href="#"><i style="font-size: 30px;" class="fa fa-sign-out"></i>  </a>
    </nav>
    <div class="main-content">
        <aside>
            <ul>
                <li>Mã giảng viên: <b>20179999</b></li>
                <li>Họ tên: <b>Nguyễn Hoàng Điệp</b></li>
                <li>Bộ Môn: <b>Công nghệ phần mềm</b></li>               
                <li>Khoa: <b>Công nghệ thông tin</b></li>
                <li>Học vị: <b>Thạc sĩ</b></li>
               
                <!-- <li><a class="link" href="#">Thông tin danh sách lớp mở</a></li> -->
            </ul>
        </aside>
        <main>          
            <h4>Thông tin danh sách Học phần</h4>
            <div class="input">
                <span>Nhập từ khoá:</span>
              
                   
                <input [(ngModel)]="filterString" (ngModelChange)="onFilterChange()" />
                <div class="table-wrapper-scroll-y my-custom-scrollbar">                   
                    <table border="1" class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th >TT</th>
                          <th >Tên học phần</th>
                          <th>Mã HP</th>
                          <th >Số TC</th>
                          <th >Loại</th>
                          <th>Khoa phụ trách</th>
                          <!-- <th>Thứ</th>
                          <th>Thời gian</th>
                          <th>Tuần học</th>
                          <th>Phòng (dự kiến)</th> -->
                          <th>Đăng kí</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let r of filtered;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{ r.tenhp_invoice}}</td>
                            <td>{{r.mahp_invoice}}</td>
                            <td>{{ r.sotc_invoice}}</td>
                            <td>{{r.phuongthuc_invoice }}</td>
                            <td>{{ r.khoaphutrach}}</td>
                            
                            <th style="cursor: pointer;">
                                <button style="border: none;background-color: white;"  data-toggle="modal" data-target="#myModal"><i style="color: green;" class="fa fa-check"></i></button>
                                <div id="myModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                  
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Đăng kí giảng dạy học phần</h4>
                                        </div>
                                        <div  class="container modal-body">
                                            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" style="margin-left: 25px;"  action="#">
                                                <div style="display: flex;">
                                                    <div>
                                                        <div class="form-group">
                                                            Mã HP: 
                                                            <input class="form-control" disabled type="text" #name="ngModel" ngModel name="mahp"/>
                                                        </div>
                                                        
                                                        <div class="form-group">
                                                            Số TC: 
                                                            <input class="form-control"disabled type="text" #name="ngModel" ngModel name="sotc"/>
                                                        </div>
                                                        <div class="form-group">
                                                            Tên HP: 
                                                            <input style="width: 380px;
                                                            position: absolute;" class="form-control"disabled type="text" #name="ngModel" ngModel name="tenhp"/>
                                                        </div>
                                                    </div>
                                                    <div style="margin-left: 35px;">
                                                        <div class="form-group">
                                                            Phương thức: 
                                                            <input class="form-control" disabled type="text" #name="ngModel" ngModel name="phuongthuc"/>
                                                        </div>
                                                        <div class="form-group">
                                                            Khoa phụ trách: 
                                                            <input class="form-control" disabled type="text" #name="ngModel" ngModel name="khoaphutrach"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                               
                                                <div style="display: flex; margin-top: 33px;">
                                                    <div>
                                                        <div class="form-group">
                                                            Thời gian: 
                                                            <select class="form-control" required  name="thoigian" ngModel >
                                                                <option *ngFor="let city of listCity" [value]="city.id">{{city.name}}</option>
                                                            </select>                      
                                                        </div>
                                                    </div>
                                                    <div style="margin-left: 68px;">
                                                        <div class="form-group">
                                                            Phòng (dự kiến): 
                                                            <input placeholder="VD: ĐH205" class="form-control"  type="text" #name="ngModel" ngModel name="khoaphutrach"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="display: flex;">
                                                    <div>
                                                        <div>
                                                            Thứ: 
                                                            <div style="display: flex; font-weight: normal!important;">
                                                                <div>
                                                                    <div class="checkbox"> 
                                                                        <input type="checkbox" value="">Thứ 2
                                                                      </div>
                                                                      <div class="checkbox">
                                                                        <input type="checkbox" value="">Thứ 3
                                                                      </div>
                                                                      <div class="checkbox ">
                                                                        <input type="checkbox" value="">Thứ 4
                                                                      </div>
                                                                </div>
                                                                <div style="margin-left: 80px;">
                                                                    <div class="checkbox">
                                                                        <input type="checkbox" value="">Thứ 5
                                                                      </div>
                                                                      <div class="checkbox">
                                                                        <input type="checkbox" value="">Thứ 6
                                                                      </div>
                                                                      <div class="checkbox ">
                                                                        <input type="checkbox" value="">Thứ 7
                                                                      </div>
                                                                </div>
                                                            </div>
                                                           
                                                             
                                                        </div>
                                                    </div>
                                                    <div style="margin-left: 35px;">
                                                        <div style="margin-left: 40px;">
                                                            <div class="form-group">
                                                                Tuần học(dự kiến): 
                                                                <input placeholder="VD: 23456" class="form-control"  type="text" #name="ngModel" ngModel name="khoaphutrach"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                               
                                               
                                                <!-- <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>  -->
                                            </form>  
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Đăng kí</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          
                                        </div>
                                      </div>
                                  
                                    </div>
                                  </div>
                                  
                            </th>
                        </tr>                       
                      </tbody>
                    </table>                               
                </div>
            </div>
<hr />
            <!-- [routerLink]="['/hero', r.mahp_invoice]" -->
            <div style="display: inline; ">
                <h4>Danh sách lớp đã đăng kí</h4>          
                <button (click)="deleteClass()"  style="float: right; position: static;" class="btn btn-success">Xoá các lớp chọn</button>
            </div>
            
            <table border="1">
                <!-- <caption>Các lớp đăng kí</caption> -->
                
                <tr>
                    <td>Học phần</td>
                    <td>Số TC</td>
                    <td>Thứ</td>
                    <td>Thời gian</td>
                    <td>Tuần học</td>
                    <td>Phòng học</td>
                    <td>Xoá lớp</td>
                </tr>
                <tr>
                    <td>Toán rời rạc</td>
                    <td>3</td>
                    <td>2,5,6</td>
                    <td>7:45 - 11:00</td>                   
                    <td>345678</td>
                    <td>ĐH205</td>      
                    <td style="cursor: pointer;"><a (click)="deleteSingleSubject()"><i style="color: red;" class="fa fa-times"></i></a></td>             
                </tr>
                <tr>
                    <td>Toán rời rạc</td>
                    <td>3</td>
                    <td>2,5,6</td>
                    <td>7:45 - 11:00</td>                 
                    <td>345678</td>
                    <td>ĐH205</td>      
                    <td style="cursor: pointer;"><a (click)="deleteSingleSubject()"><i style="color: red;" class="fa fa-times"></i></a></td>             
                </tr>
                
                
                <tr>
                    <td colspan="11">Tổng tín chỉ đăng kí : 14</td>
                    
                </tr>
                
            </table>
            
        </main>
    </div>
    <footer>
        TRƯỜNG ĐẠI HỌC SƯ PHẠM KĨ THUẬT HƯNG YÊN<br />
       cs2: Nhân Hoà, Mỹ Hào, Hưng Yên
        
    </footer>
</body>
</html>
